*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.visual
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 32px;
}

.sliders
{
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

.sliders .slider
{
    display: block;
    width: 90%;
    margin: 16px auto;
    appearance: none;
    height: 25px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    transition: 0.2s;
}

.slider:hover
{
    opacity: 1.0;
}

.slider::-webkit-slider-thumb
{
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    background: #04AA6D;
}

.slider::-moz-range-thumb
{
    width: 25px;
    height: 25px;
    background: #04AA6D;
}

.value
{
    display: none;
}

.content
{
    display: block;
    width: 90%;
    margin: 16px auto;
}

@media screen and (max-width: 800px)
{
    .visual
    {
        flex-direction: column;
        align-items: center;
        margin-top: 16px;
    }

    .visual canvas
    {
        width: 320px;
        max-width: 100vh;
        height: 320px;
    }
}