*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.visual
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 32px;
}

.value
{
    display: none;
}

.content
{
    display: block;
    width: 90%;
    margin: 16px auto;
}

@media screen and (max-width: 800px)
{
    .visual
    {
        flex-direction: column;
        align-items: center;
        margin-top: 16px;
    }

    .visual canvas
    {
        width: 320px;
        max-width: 100vh;
        height: 320px;
    }
}