*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #222;
    font-family: sans-serif;
}

body
{
    background: #a2c3ca;
}

.title
{
    text-align: center;
    font-size: 64px;
}

.main-container
{
    display: block;
    margin: 48px auto 0 auto;
    width: 92%;
}

.semi-title
{
    font-size: 32px;
}

.topics-container-list
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 32px;
}

.topic-container
{
    background: #d9d9d9;
    width: 250px;
    height: 300px;
    border-radius: 24px;
    margin: 12px;
    padding-top: 12px;
    filter: drop-shadow(5px 5px 3px #33333344);
}

.topic-container img
{
    width: 230px;
    height: 230px;
    display: block;
    margin: 0 auto;
    border-radius: 14px;
}

.topic-container p
{
    text-align: center;
    margin-top: 22px;
}

.main-container a
{
    text-decoration: none;
}

.visual
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 32px;
}

.value
{
    display: none;
}

.content
{
    display: block;
    width: 90%;
    margin: 16px auto;
}

.content p
{
    font-size: 16px;
}

@media screen and (max-width: 800px)
{
    .visual
    {
        flex-direction: column;
        align-items: center;
        margin-top: 16px;
    }

    .visual canvas
    {
        width: 320px;
        max-width: 100vh;
        height: 320px;
    }
}