.sliders-container
{
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

.sliders-container .slider-container
{
    display: block;
    width: 90%;
    margin: 16px auto;
}

.sliders-container .slider-container .slider
{
    width: 100%;
    appearance: none;
    height: 25px;
    border-radius: 5px;
    background: #cfcdcd;
    outline: none;
    opacity: 0.7;
    transition: 0.2s;
}

.sliders-container .slider-container ul
{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.slider:hover
{
    opacity: 1.0;
}

.slider::-webkit-slider-thumb
{
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    background: #a2c3ca;
}

.slider::-moz-range-thumb
{
    width: 25px;
    height: 25px;
    background: #a2c3ca;
}

.checkbox-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 120px;
    margin: 16px auto;
}

.checkbox-container #checkbox
{
    width: 60px;
    appearance: none;
    height: 25px;
    border-radius: 12px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    transition: 0.2s;
}

.checkbox-container p
{
    font-size: 24px;
    font-style: oblique;
}

#checkbox::-webkit-slider-thumb
{
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 12px;
    background: #a2c3ca;
}

#checkbox::-moz-range-thumb
{
    width: 25px;
    height: 25px;
    border-radius: 12px;
    background: #a2c3ca;
}